@charset "UTF-8";
header {
  display: flex;
  justify-content: space-between;
  background-color: #1dace0;
  color: #fff;
  font-size: 18px;
  padding: 5px 0;
}

header .header-right {
  display: flex;
  align-items: center;
  margin-right: 80px;
  font-size: 15px;
}

@media only screen and (max-width: 480px) {
  header .header-right {
    display: none;
  }
}

header .header-right li:nth-child(1) {
  margin-right: 20px;
}

.icon {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.icon img {
  height: 60px;
}

@media only screen and (max-width: 480px) {
  .icon {
    margin-left: 20px;
  }
}

.icon .name strong {
  color: #eae51f;
}

@media only screen and (max-width: 480px) {
  .icon .name {
    display: none;
  }
}

/*ヘッダー固定*/
.fixed {
  position: fixed;
  width: 100%;
  margin-top: -70px;
  z-index: 100;
  /*    回り込み回避*/
}

#margin-for-fixed {
  margin-top: 70px;
}

/*Welcomeここから*/
.welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url(../img/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
}

.welcome .title {
  font-size: 64px;
}

@media only screen and (max-width: 480px) {
  .welcome .title {
    font-size: 30px;
  }
}

.welcome .guidline {
  margin-top: 50px;
  font-size: 28px;
  font-weight: bold;
}

@media only screen and (max-width: 480px) {
  .welcome .guidline {
    margin-top: 30px;
    font-size: 24px;
    font-weight: normal;
  }
}

.welcome .guidline li:not(first-child) {
  margin-top: 16px;
}

.welcome .btn-group {
  margin-top: 60px;
}

@media only screen and (max-width: 480px) {
  .welcome .btn-group {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 40px;
  }
}

.welcome .btn-group .btn {
  height: 55px;
  width: 170px;
  margin-left: 120px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 28px;
  border-radius: 10px;
}

.welcome .btn-group .btn:first-child {
  margin-left: 0;
}

@media only screen and (max-width: 480px) {
  .welcome .btn-group .btn {
    margin-left: 0;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    height: 48px;
    width: 40%;
  }
  .welcome .btn-group .btn:first-child {
    margin-top: 0;
  }
}

.register {
  background-color: rgba(29, 172, 224, 0.5);
  border: 3px solid rgba(29, 172, 224, 0.3);
}

.register:hover {
  background-color: #1dace0;
}

.login {
  background-color: rgba(236, 227, 35, 0.5);
  border: 3px solid rgba(236, 227, 35, 0.3);
}

.login:hover {
  background-color: #ece323;
}

/*welcomeここまで*/
/*curriculumここから*/
.curriculum {
  margin-top: 50px;
}

.curriculum .sub-title {
  text-align: center;
  font-size: 36px;
}

.curriculum .img-box {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1280px) {
  .curriculum .img-box {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 960px) {
  .curriculum .img-box {
    flex-wrap: wrap;
    align-content: space-around;
  }
}

.curriculum .img-box li {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 60px;
}

.curriculum .img-box li:last-child {
  margin-right: 0;
}

.curriculum .img-box li img {
  height: 300px;
  width: 300px;
}

.curriculum .img-box li span {
  font-size: 24px;
  margin-top: 20px;
}

@media only screen and (max-width: 960px) {
  .curriculum .img-box li {
    margin-top: 30px;
    margin-right: 0;
  }
}

/*contactここから*/
.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 350px;
  margin-top: 50px;
  padding-top: 50px;
  background-color: aliceblue;
}

@media only screen and (max-width: 960px) {
  .contact {
    height: 100%;
    padding: 40px 20px;
  }
}

.contact .form {
  display: flex;
  margin: 50px 0 40px;
  justify-content: center;
}

.contact .form .form-left {
  margin-right: 50px;
}

.contact .form .form-left .name {
  margin-bottom: 20px;
}

.contact .form .form-left .email,
.contact .form .form-left .name {
  height: 50px;
  width: 400px;
  box-sizing: border-box;
  font-size: 16px;
}

@media only screen and (max-width: 960px) {
  .contact .form .form-left .email,
  .contact .form .form-left .name {
    width: 80%;
  }
}

@media only screen and (max-width: 960px) {
  .contact .form .form-left {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.contact .form .inquiry {
  height: 120px;
  width: 400px;
  box-sizing: border-box;
  font-size: 16px;
}

@media only screen and (max-width: 960px) {
  .contact .form .inquiry {
    width: 80%;
  }
}

@media only screen and (max-width: 960px) {
  .contact .form {
    flex-flow: column nowrap;
    margin-bottom: 30px 0;
  }
}

.contact button {
  background-color: #1dace0;
  color: #fff;
  border: 3px solid #1dace0;
  border-radius: 10px;
  font-size: 24px;
  padding: 15px 30px;
  box-sizing: border-box;
}

.contact button:hover {
  background-color: #fff;
  color: #1dace0;
  transition-duration: 500ms;
}

@media only screen and (max-width: 960px) {
  .contact button:hover {
    font-size: 20px;
    padding: 5px 40px;
    box-sizing: border-box;
  }
}

/*footer*/
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #233f51;
  color: #fff;
  font-size: 18px;
  padding: 5px;
}

@media only screen and (max-width: 480px) {
  footer {
    display: flex;
    justify-content: center;
  }
  footer .icon {
    display: none;
  }
}

footer .footer-right {
  margin-right: 80px;
}

@media only screen and (max-width: 480px) {
  footer .footer-right {
    margin-right: 0;
  }
}
