/*ヘッダー固定*/
.fixed{
    position: fixed;
    width: 100%;
    margin-top: -70px;
    z-index: 100;
/*    回り込み回避*/
}
#margin-for-fixed{
    margin-top: 70px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1dace0;
    color: #fff;
    font-size: 18px;
    padding: 5px 0;   
}

.icon{
    display: flex;
/* つけたいやつの一つ上にflexつける   */
    align-items: center;
    margin-left: 80px;
}

.icon img {
    height: 60px;
}

.icon .name strong{
    color: #eae51f;
}

.header-right{
    display: flex;
    align-items: center;
    margin-right: 80px;
    font-size: 15px;
}

.header-right>li:nth-child(1){
    margin-right: 20px;
}
/*Welcomeここから*/
.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url(../img/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: #fff;
}

.title{
    font-size: 64px;    
}

.guidline{
    margin-top: 50px;
    font-size: 28px;
    font-weight: bold;
/*700=bold    */
}

.guidline li:not(first-child) {
    margin-top: 16px;
    
}

.btn-group{
    margin-top: 60px;
}
.btn{
    height:55px;
    width: 170px;
    margin-left: 120px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 28px;
    border-radius: 10px;
}
.btn:first-child{
    margin-left: 0;
}

.register{
    background-color: rgba(29,172,224,0.5);
    border: 3px solid rgba(29,172,224,0.3);
/*rgbの値と、a(透明度０〜１)の値を入れると透け感でる    */
}

.register:hover{
    background-color: rgb(29,172,224);
}

.login{
    background-color: rgba(236,227,35,0.5);
    border: 3px solid rgba(236,227,35,0.3);
}
.login:hover{
    background-color: rgb(236,227,35);
}
/*welcomeここまで*/

/*curiculumここから*/
.curiculum{
    margin-top: 50px;
}

.sub-title{
    text-align: center;
    font-size: 36px;
    
}
.img-box {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.img-box li{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 60px;
    
}
.img-box li:last-child{
    margin-right: 0;
}



.img-box li img{
    height: 300px;
    width: 300px;
    
}

span{
    font-size: 24px;
    margin-top: 20px;
}
/*curriculumここまで*/

/*contactここから*/

.contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 350px;
    margin-top: 50px;
    padding-top: 50px;
    background-color: aliceblue;
    
}

.contact .form{
    display: flex;
    margin:50px 0 40px;
    justify-content: center;
}

.form-left{
    margin-right: 50px;
}

.form .inquiry {
    height: 120px;
    width: 400px;
    box-sizing: border-box;
    font-size: 16px;
}



.form .name{
    margin-bottom: 20px;
}

.form .email,
.form .name{
    height: 50px;
    width: 400px;
    box-sizing: border-box;
    font-size: 16px;
}

.contact button{
    background-color: #1dace0;
    color: #fff;
    border: 3px solid #1dace0;
    border-radius: 10px;
    font-size: 24px;
    padding: 15px 30px;
    box-sizing: border-box;
    
}

.contact button:hover{
    background-color: #fff;
    color:#1dace0;
    transition-duration: 500ms;
}

/*footer*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #233f51;
    color:#fff;
    font-size: 18px;
    padding: 5px;
    
}

footer .footer-right{
    margin-right: 80px;
}

/*レスポンシブ対応*/

/*小型PC用想定*/
@media screen and (max-width: 1280px){
    .img-box{
/*        justify-content: space-around;*/
    }
    .img-box li {
        margin-right: 30px;
    }
    
}

@media screen and (max-width: 960px){
/*curiculum    */
    .img-box{
        flex-wrap: wrap;
        align-content: space-around;
    }
    
    


.img-box li{
    margin-top: 30px;
    margin-right: 0;
    } 

/*curriculumここまで*/

/*contact*/

.contact{
    height: 100%;
    padding:40px 20px;
}
.contact .form{
    flex-flow: column nowrap;
    margin-bottom: 30px 0;
}

.form-left{
    margin-right: 0;
    margin-bottom:30px; 
}

.form .name ,
.form .email{
    width: 80%;   
}

.form .inquiry {
    width:80%;
}

.contact button{
    font-size: 20px;
    padding:5px 40px;
    box-sizing: border-box;
}

}

/* スマホ用   */
@media screen and (max-width: 480px){
    body{
        min-width:375px;
    }
/*headerの対応    */
    header .icon{
        margin-left: 20px;
    }
    .header-right{
        display: none;
    }
    .icon .name{
        display: none;
    }
/* welcome   */
    .title{
        font-size: 30px;
    }
    .guidline{
        margin-top: 30px;
        font-size: 24px;
        font-weight: normal;
    }
    .btn-group{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-top: 40px;
    }
    .btn{
        margin-left: 0;
        font-weight: bold;
        font-size: 24px;
        margin-top: 20px;
        height: 48px;
        width: 40%;
    }
    .btn:first-child{
        margin-top: 0;
    }
    
    
    
    
/*footer    */
    footer{
        display: flex;
        justify-content: center;
    }
    footer .icon{
        display: none;
    }
    
    footer .footer-right{
        margin-right: 0;
    }
   
}
    
    
    







