
//変数を使用したメディアクエリ
//javascriptの連想配列（キー：何何）みたいなやつ
$breakpoints:(
  s:"only screen and (max-width:480px)",
  m:"only screen and (max-width:960px)",
  l:"only screen and (max-width:1280px)"
  //これがmap
);

@mixin mediaq($breakpoint){
  @if map-has-key($breakpoints, $breakpoint){
    //もし breakpointsに、breakpointの値があれば（l,smなど）
    @media #{map-get($breakpoints, $breakpoint)}{
      //mapと呼ばれる　連想配列のこと
      //map-get する　breakpointsから、breakpointの中身を持ってくる
      @content;
    }
  }@else{
    @error"$breakpointsに#{#breakpoint}というキーはありません";
  }
}

$maincolor: #1dace0;
$subcolor:#eae51f;
$white: #fff;

@mixin flex($value,$i){
  display: flex;
  justify-content: $value;
  align-items: $i;  
}
@mixin margin($top:null,$left:null,$right:null,$bottom:null){
  margin-top: $top ;
  margin-left: $left;
  margin-right: $right;
  margin-bottom: $bottom;
}
@mixin BoxSet($bc,$ta:center){
  background-color:$bc;
  text-align: $ta;
}

//header
header{
  @include flex(space-between,null);
//  @include BoxSet($bc:$maincolor,null);
  @include BoxSet($maincolor,null);
    color: $white;
    font-size: 18px;
    padding: 5px 0;

  .header-right{
    @include flex(null,center);
    @include margin($right:80px);
    font-size: 15px;
    
    @include mediaq(s){
     display: none;
    }
    li:nth-child(1){
      @include margin($right:20px);
    }
  }
}
.icon{
  @include flex(null,center);
  @include margin($left:80px);
  
    img {
    height: 60px;
   }
   @include mediaq(s){
     @include margin($left:20px);
   }
   .name {
     strong{
       color: $subcolor;
    }
     @include mediaq(s){
       display: none;
     }
  }
 }
//header 終わり

/*ヘッダー固定*/
.fixed{
    position: fixed;
    width: 100%;
  @include margin($top:-70px);
    z-index: 100;
/*    回り込み回避*/
}
#margin-for-fixed{
  @include margin($top:70px);
}
//ヘッダー固定終わり

/*Welcomeここから*/
.welcome{
  @include flex(center,null);
    flex-direction: column;
  @include BoxSet(null,center);
    background-image: url(../img/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: $white;
  .title{
    font-size: 64px;
    @include mediaq(s){
      font-size: 30px;  
    }
  }
  .guidline{
    @include margin($top:50px);
    font-size: 28px;
    font-weight: bold;
    
    @include mediaq(s){
      @include margin($top:30px);
      font-size: 24px;
      font-weight: normal;
    }
     
    li:not(first-child) {
      @include margin($top:16px);
    }
  }
  .btn-group{
    @include margin($top:60px);
    
    @include mediaq(s){
      @include flex(null,center);
      flex-flow: column nowrap;
      margin-top: 40px;
      
    }
    .btn{
    height:55px;
    width: 170px;
    @include margin($left:120px);
    cursor: pointer;
    color: $white;
    font-weight: bold;
    font-size: 28px;
    border-radius: 10px;
      &:first-child{
        @include margin($left:0px);
    }
    @include mediaq(s){
      @include margin($top:20px,$left:0px);
      font-weight: bold;
      font-size: 24px;
      height: 48px;
      width: 40%;
      &:first-child{
        @include margin($top:0px); 
      } 
  }
 }
}
}
@mixin button($r,$g,$b,){
  background-color: rgba($r,$g,$b,0.5);
  border: 3px solid rgba($r,$g,$b,0.3);
}
.register{
  @include button(29,172,224);
  &:hover{
    background-color: rgb(29,172,224);
  }
}
.login{
  @include button(236,227,35);
  &:hover{
    background-color: rgb(236,227,35);
  }
} 

/*welcomeここまで*/

/*curriculumここから*/
.curriculum{
  @include margin($top:50px);
  .sub-title{
    @include BoxSet(null,center);
    font-size: 36px;
  }
  .img-box{
    @include margin($top:50px);
    @include flex(center,null);
    
  @include mediaq(l){
    justify-content: space-around;
  }
    @include mediaq(m){
    flex-wrap: wrap;
    align-content: space-around;
  }
    li{
      @include flex(null,null);
    flex-direction: column;
      @include BoxSet(null,center);
    @include margin($right:60px);  
    &:last-child{
      @include margin($right:0px);
    }
    img{
    height: 300px;
    width: 300px;
    }
    span{
    font-size: 24px;
      @include margin($top:20px);
    }
    @include mediaq(m){
      @include margin($top:30px,$right:0px);
  }    
}
}
  }
  
//curriculumここまで

/*contactここから*/

.contact{
  @include flex(center,null);
    flex-direction: column;
  @include BoxSet(null,center);
    height: 350px;
    @include margin($top:50px);
    padding-top: 50px;
    @include BoxSet(aliceblue,null);
  @include mediaq(m){
    height: 100%;
    padding:40px 20px;
    
  }
  .form{
    @include flex(center,null);
    margin:50px 0 40px;
    .form-left{
      @include margin($right:50px);
      .name{
        @include margin($bottom:20px);
}
      .email,
      .name{
        height: 50px;
        width: 400px;
        box-sizing: border-box;
        font-size: 16px;
        @include mediaq(m){
          width: 80%;
        }
}
      @include mediaq(m){
        @include margin($right:0px,$bottom:30px);
      }
      
}
    .inquiry {
    height: 120px;
    width: 400px;
    box-sizing: border-box;
    font-size: 16px;
      @include mediaq(m){
        width:80%;  
      }
      
}
    @include mediaq(m){
      flex-flow: column nowrap;
      margin: 30px 0;
      
    }

}
  button{
    @include BoxSet(#1dace0,null);
    color: #fff;
    border: 3px solid #1dace0;
    border-radius: 10px;
    font-size: 24px;
    padding: 15px 30px;
    box-sizing: border-box;
    &:hover{
      @include BoxSet($white,null);
    color:#1dace0;
    transition-duration: 500ms;
      @include mediaq(m){
        font-size: 20px;
        padding:5px 40px;
        box-sizing: border-box;
      }
}
    
}   
}
/*footer*/
footer{
  @include flex(space-between,center);
  @include BoxSet(#233f51,null);
    color:#fff;
    font-size: 18px;
    padding: 5px;
  @include mediaq(s){
    @include flex (center,null);
    .icon{
      display: none;
    }
  }
  .footer-right{
    @include margin($right:80px);
    @include mediaq(s){
      @include margin($right:0px);
    }
}
    
}


























